/* ! Custom styles */

body {
    display: flex;
    align-items: center;
}

h1 {
    color: #359;
    margin: auto;
    padding-left: 30px;
    position: relative;
    /* pseudo-element styles */
    &::after {
        content: "\2713";
        color: lighten(#359, 30%);
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
    }
}
